name: test-and-lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-and-lint:
    permissions:
      contents: "read"
      id-token: "write"
    name: test-and-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.6"

      - name: install mise
        uses: jdx/mise-action@v2
        with:
          install: true
          cache: true
          log_level: debug
          github_token: ${{ secret.GITHUB_TOKEN }}

      - name: build
        run: make build

      - name: lint
        run: make lint

      - name: test
        run: make test

  tag-and-release:
    runs-on: ubuntu-latest
    needs: [test-and-lint]
    if: github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        name: setup node
        with:
          node-version: 20

      - name: Semantic Release
        uses: iwpnd/semantic-release-action@latest
        with:
          dry_run: true
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/commit-analyzer
            @semantic-release/github
            @semantic-release/release-notes-generator
            conventional-changelog-conventionalcommits
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
